[submodule "dep/std"]
	path = dep/std
	url = https://github.com/briar-systems/mach-std
[submodule "dep/boom"]
	path = dep/boom
	url = https://github.com/briar-systems/boom
[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/briar-systems/mach-glfw
[submodule "dep/audio"]
	path = dep/audio
	url = https://github.com/briar-systems/mach-audio
[submodule "dep/image"]
	path = dep/image
	url = https://github.com/briar-systems/mach-image
[submodule "dep/font"]
	path = dep/font
	url = https://github.com/briar-systems/mach-font
[submodule "dep/vk"]
	path = dep/vk
	url = https://github.com/briar-systems/mach-vk
[submodule "dep/gltf"]
	path = dep/gltf
	url = https://github.com/briar-systems/mach-gltf
[submodule "dep/shader"]
	path = dep/shader
	url = https://github.com/briar-systems/mach-shader
[submodule "dep/blit"]
	path = dep/blit
	url = https://github.com/briar-systems/blit
